Source: ros-noetic-ocl
Section: misc
Priority: optional
Maintainer: Orocos Developers <orocos-dev@orocos.org>
Build-Depends: debhelper (>= 9.0.0), cmake, liblua5.1-0-dev, libncurses5-dev, libnetcdf-dev, libreadline-dev, ros-noetic-catkin, ros-noetic-log4cpp, ros-noetic-rtt
Homepage: http://www.orocos.org/ocl
Standards-Version: 3.9.2

Package: ros-noetic-ocl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblua5.1-0-dev, libncurses5-dev, libnetcdf-dev, libreadline-dev, ros-noetic-log4cpp, ros-noetic-rtt
Description: Orocos component library This package contains standard components for the Orocos Toolchain
